<!-- marquee -->
<div class="contianer-fluid speaker d-flex align-items-center">

    <div class="speaker-content-wrap">
        <p class="speaker-content ticker-item text-white m-0" id="marqueeContainer"><canvas id="marqueeCanvas"></canvas>
        </p>
    </div>