//marquee
//speaker
.speaker {
  height: 6vh; //168px/3840px
  position: fixed;
  bottom: 0;  //put in the bottom of the page

  .speaker-content {
    font-size: 2vw; //48px
    padding-left: 2vw;
    line-height: 1;
  }

  .speaker-content-wrap {
    position: relative; //重要
    overflow: hidden; //重要
    width: 100%;


  }


}

//canvas
canvas {
  display: block;


}

#marqueeContainer {

  outline: 1px solid red;
  height: fit-content;
}