.keelung-title {
  background-color: rgb(85, 85, 85);
  height: 20vh;
}

.bus-title,
.boats-title,
.train-title {
  background-color: rgb(125, 125, 125);
}

//transportation text orange
.text-orange {
  color: rgb(255, 128, 0);
}

.transportation-type {
  height: 10vh;
  width: 50vw;
  overflow: hidden;

}

@keyframes slideIn5 {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(0);
  }
}

.position-top5 {
  position: absolute;
  top: 5%;
  animation: slideIn5 2s ease-in-out;
}

.position-top70 {
  position: absolute;
  top: 70%;
  animation: slideIn5 2s ease-in-out;
}

.position-top120 {
  position: absolute;
  top: 120%;

}

.position-top150 {
  position: absolute;
  top: 150%;

}


//boats
.boatsList-wrap {
  overflow: hidden;
}

@keyframes boatsSlide {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(0%);
  }
}

.boats-slide {
  animation: boatsSlide 2s ease-in-out;
}

@keyframes trainSlide {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(0%);
  }
}

.train-slide {
  animation: trainSlide 2s ease-in-out;
}

@keyframes busSlide {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(0%);
  }
}

.bus-slide {
  animation: busSlide 2s ease-in-out;
}

.busList-wrap{
  overflow: hidden;
}